body {
    background-color: #1B3C53;
}

#veiculos {
    display: flex;
    flex-direction: column;
}

#enviar {
    margin: 20px 0 0 0;
    align-self: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(54, 52, 52);
    background-color: rgb(202, 200, 200);
    color: #fff;
    font-size: 16px;
}

#enviar:hover {
    background-color: #234C6A;
    color: #E3E3E3;
}

form {
    color: #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding: 20px;
    border: 2px, solid, #E3E3E3;
    border-radius: 10px;
    width: 500px;
    margin-top: 180px;
    background-color: #456882;
}

form h1 {
    text-align: center;
}