*{
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "menu"
    "content"
    "facts"
    "footer";
    gap: 10px;
}

.header {
    grid-area: header;
    background-color: purple;
    color: white;
    text-align: center;
    padding: 25px;
}

.header h1 {
    font-size: 40px;
}

.menu {
    grid-area: menu;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5eb;
}

.menu li:hover {
    background-color: #0099cc;
    color: white;
    cursor:grab;
}

.content {
    grid-area: content;
}

.content > h1 {
    padding: 10px;
    font-size: 30px;
    margin-bottom:5px;
}

.content p {
    padding: 0px 10px 0px 10px;
    margin-top: 5px;
}

.facts {
    grid-area: facts;
    border: 1px solid black;
    background-color: beige;
    padding: 30px;
    margin: 10px;
}

.facts h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer {
    grid-area: footer;
    background-color: aquamarine;
    text-align: center;
    padding: 20px;
}


@media (min-width: 600px) {
    
}

