body {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

h1 {
  font-size: 50px;
}

p {
    font-size: 20px;
}

section {
    align-self: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
}