.container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 5fr;
    gap: 3px;
    background-color: dodgerblue;
    padding: 5px;
}

.container div {
    background-color: white;
}

.container div.header {
    grid-area: header;
    text-align: center;
}

.container div.menu {
    grid-area: menu;
    text-align: center;
    gap: 10px;
}

.menu a{
    text-decoration: none;
    background-color: beige;
    padding: 5px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.container div.content {
    height: 500px;
    grid-area: content;
    padding: 20px;
}

.container div.footer {
    grid-area: footer;
    text-align: center;
}